langchain
langchain-groq
faiss-cpu
tiktoken
langchain-community
langchain-openai
chromadb
sentence-transformers
pypdf
python.dotenv
pandas
PyMuPDF
python-docx
docx2txt
docx
jq
matplotlib
openpyxl
langchain-huggingface
sentence_transformers
numpy


